$coffee: #d1b7a6
$secCoffee: #ac998d
$bgCoffee: #f0ece9
$bgGrey: #e3e3e3
$grey: #B2B2B2
$darkGrey: #858585
$text: #B2B2B2

.btn.btn-primary
  background-color: $coffee
  border: none
  &:hover
    background-color: $secCoffee
    border: none
  &:active
    background-color: red
    border: none
.cursor
  cursor: pointer